<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="denver.remcontrol" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    android:largeHeap="true"
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="system.RemControlApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activitys.AppealActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer" >
        </activity>
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activitys.AppealSentHistoryActivity"
            android:label="@string/title_activity_appeal_sent_history" >
        </activity>
        <activity
            android:name=".activitys.ShowSentAppealActivity"
            android:label="@string/title_activity_show_sent_appeal" >
        </activity>
        <activity
            android:name=".activitys.PostponedAppealsListActivity"
            android:label="@string/title_activity_postponed_appeals_list" >
        </activity>

        <service
            android:name="services.AuthorizationIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activitys.AboutProject"
            android:label="@string/title_activity_about_project" >
        </activity>
    </application>

</manifest>
